/* Font Family  */
@font-face { font-family: 'AngryBirds'; src: url('BIN/fonts/angrybirds-regular.ttf') format('truetype');}
@font-face { font-family: 'naruto'; src: url('BIN/fonts/naruto.ttf') format('truetype');}


*, ::before, ::after {
    margin: 0;
    padding: 0;
    transition: .3s;
    box-sizing: border-box;
    color: #fff;
}

.loading-gif video {
    width: 100%; /* Adjust the width to fill the container */
    height: 100%; /* Adjust the height to fill the container */
    object-fit: contain; /* Ensure the entire video is visible */
    position: absolute; /* Position the video within the container */
    top: 50%; /* Center the video vertically */
    left: 50%; /* Center the video horizontally */
    transform: translate(-50%, -50%); /* Center the video precisely */
}

.sharingan {
    background: #e41414;
    width: 8em;
    height: 8em;
    position: relative;
    border: 5px #000 solid;
    animation: 
    spin 5s ease-in-out,
    shine 5s ease-in-out;
}

.mangekyou {
    background: #050505;
    width: 8em;
    height: 8em;
    position: relative;
    border: 5px #000 solid;
    animation: spin 5s ease-in-out;
}

.mangekyou .point {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5.6em;
    width: 5.6em;
    background: #e41414;
    animation: shine 5s ease-in-out;
}

.mangekyou .point:nth-child(1) {
    border-radius:
    0% 100% 0% 100% /
    0%  100% 0% 100%;
    transform:
    translate(-50%, -50%)
    rotate(-15deg);
}

.mangekyou .point:nth-child(2) {
    border-radius: 
    100% 0% 100% 0% /
    100% 0% 100% 0%;
    transform:
    translate(-50%, -50%)
    rotate(15deg);
}

.mangekyou .point:nth-child(3) {
    border-radius: 
    100% 0% 100% 0% /
    100% 0% 100% 0%;
    transform: 
    translate(-50%, -50%)
    rotate(-45deg);
    border: 3px #000 solid;
}

.mangekyou .point:nth-child(3)::before,
.mangekyou .point:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: inherit;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.mangekyou .point:nth-child(3)::before {
    transform:
    translate(-50%, -50%)
    rotate(-60deg)
}

.mangekyou .point:nth-child(3)::after {
    transform:
    translate(-50%, -50%)
    rotate(60deg)
}

.sharingan .inner-ring {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4em;
    height: 4em;
    border: 4px rgba(110, 13, 13, 0.5) solid;
}

.sharingan,
.mangekyou,
.tomoe,
.circle,
.inner-ring {
    border-radius: 50%;
}

.tomoe,
.circle {
    position: absolute;
    width: 1em;
    height: 1em;
    background: #000;
    z-index: 2;
}

.sharingan .tomoe:nth-child(1) {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
}

.sharingan .tomoe::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: -0.5em;
    width: 1.9em;
    height: 0.9em;
    border-left: 16px solid #000;
    border-radius: 100% 0 0 0;
}

.sharingan .tomoe:nth-child(2) {
    bottom: 0.5em;
    left: -0.3em;
    transform: rotate(-120deg);
}

.sharingan .tomoe:nth-child(3) {
    bottom: 0.5em;
    right: -0.3em;
    transform: rotate(120deg);
}

.sharingan .circle,
.mangekyou .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5em;
    height: 1.5em;
    box-shadow: 
    0 0 15px 5px;
    color: rgba(0, 0, 0, 0.6);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes shine {
    0% {
        background: #e41414;
        opacity: 0;
    }
    50% {
        background: #f03a3a;
        box-shadow: 0 0 4px 4px #f03a3a;
    }
    100% {
        box-shadow: none;
        background: #e41414;
        opacity: 1;
    }
}

.hide {
    display: none;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    transition: 1s;
}

.background {
    background-image: url('BIN/BGV_1.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    transition: 1s;
  }

.container {
    max-width: 950px;
    margin: auto;
}

.navbar {
    padding: 12px 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
	font-family: 'AngryBirds', sans-serif;
    text-decoration: none;
    font-size: 2rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul a {
    display: block;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    font-family: 'AngryBirds', sans-serif;
    position: relative;
}

.navbar ul:has(a:hover) a:not(:hover) {
    filter: blur(10px);
}

.page-content {
    text-align: center;
    margin-top: 12rem;
    padding: 0 10px;
}

.page-content .inner-content .heading {
    font-size: 16rem;
    font-family: 'AngryBirds', sans-serif;
}

.page-content .inner-content p {
    font-family: 'AngryBirds', sans-serif;
}

.page-content .buttons {
    display: ruby-text;
    justify-content: center;
    margin-top: 20px;
}

.page-content .buttons a {
    display: block;
    font-family: 'AngryBirds', sans-serif;
    text-decoration: none;
    margin: 0 16px;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 13px;
    min-width: 120px;
    text-align: center;
    position: relative;
    backdrop-filter: blur(60px);
    overflow: hidden;
    z-index: 1;
    border: 1px solid #ffffff1e;
}

.page-content .buttons a.active {
    background-color: #e1340d;
}

.page-content .buttons a.active:hover {
    box-shadow: 0 0 40px rgb(253, 2, 2);
}

.page-content .buttons a:nth-child(2)::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, #ffffff00, #ffffff20, #ffffff00);
    z-index: -1;
}

.page-content .buttons a:nth-child(2):hover::before { 
    left: 100%;
}

.page-content .buttons a:nth-child(2):hover {
    transition-delay: .3s;
    box-shadow: 0 0 40px rgb(238, 5, 5);
    background-color: #ff310c;
}

.page-content .social-links {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.page-content .social-links a {
    display: block;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    backdrop-filter: blur(160px);
    background: #c624f71e;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.page-content .social-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #f15405;
    z-index: -1;
}

.page-content .social-links a:hover::after { 
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.card {
    font-family: 'naruto', sans-serif;
    font-size: 13px;
    width: 225px;
    height: 245px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
	position: relative;
    padding: 20px;
    box-sizing: border-box;
	transition: width 0.3s ease-in-out;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

h2, p {
    font-family: 'AngryBirds', sans-serif;
    font-size: 15px;
	color: #fff;
    margin: 0;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    padding: 20px;
    box-sizing: border-box;
    opacity: 0; /* Initially hide content */
    transition: opacity 0.3s ease-in-out; /* Add transition for smooth opacity change */
}

.card:hover {
    transform: scale(1.05);
	width: 155px;
}

.card:hover .content {
    opacity: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.round-image {
    width: 85%;
    height: auto;
    border-radius: 100%;
	object-fit: cover;
	display: block;
    margin: 0 auto 15px; /* Center the image */
	transition: transform 0.3s ease-in-out;
}

.card a {
    pointer-events: auto; /* Ensure links are clickable */
    /* other link styles... */
}

.content-container {
    height: calc(100vh - 200px); /* Adjust the height based on your navbar's height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-top: 56px; /* Adjust padding to avoid content being hidden behind the navbar */
}

@media only screen and (max-width: 768px) {
    video {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
        z-index: -1;
        transition: 1s;
    }
    .container {
        max-width: fit-content;
        margin: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar {
        padding: 12px 10px;
    }
    
    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar .logo {
        font-family: 'AngryBirds', sans-serif;
        text-decoration: none;
        font-size: 2rem;
    }
    
    .navbar ul {
        list-style-type: none;
        display: flex;
        /* flex-direction: column; */
        /* align-items: flex-start; */
    }
    
    .navbar ul a {
        display: block;
        text-decoration: none;
        margin: 10px 0;
        padding: 8px 16px;
        font-family: 'AngryBirds', sans-serif;
        position: relative;
    }
    
    .navbar ul:has(a:hover) a:not(:hover) {
        filter: blur(10px);
    }

    .navbar ul li {
        margin: 10px 0;
    }
    
    .page-content .inner-content .heading {
        font-size: 15vw;
    }

    .page-content .buttons {
        display: ruby-text;
        justify-content: center;
        margin-top: 20px;
    }
    
  }